<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div id="background">
<div *ngIf="assessmentItems">
  <img id="client_logo" src="../../assets/loremlogo.png"/>
  <div id="headerBox">
 <h4>{{item.ItemName}}</h4>
</div>
 <div class="distractor" *ngFor="let distractor of item.Distractors">

  <label>{{distractor.DistractorName}}</label>
</div>
<div>
  <p id="questioncount" *ngIf="assessmentLength">{{itemIndex}}/{{assessmentLength}}</p>
</div>
<button *ngIf="itemIndex > 1" class="btn btn-primary prevButton" (click)="getPrevItem(item.ItemId)">Previous Question</button>
<button *ngIf="itemIndex !== assessmentLength"  [class.nextalone]="itemIndex == 1" class="btn btn-primary nextButton" (click)="getNextItem(item.ItemId)">Next Question</button>
<button *ngIf="itemIndex >= assessmentLength" class="btn btn-primary submitassessment ">Finish</button>
</div>
</div>


<!--  <ul>
    <li *ngFor="let item of assessmentItems">
      {{item.ItemName}}
    </li>
  </ul>-->